.custom-menu {
    background-color: #001529 !important; /* Change this to your desired background color */
    color: #fff !important; /* Change this to your desired text color */
  }
  
  .custom-menu .ant-menu-item-selected {
    background-color: #e4951e !important; /* Change this to your desired selected item background color */
    color: #fff !important; /* Change this to your desired selected item text color */
  }
  